<!DOCTYPE html>

<!-- <h1></h1>
	Elementos de cabeçalho são implementados em seis níveis, <h1> é o mais importante e <h6> é o de menor importância.
-->
<!--<p></p>
	representa um parágrafo. São usados para agrupar conteúdos relacionados de qualquer tipo
-->
<!--<span></span>
	é um conteiner generico em linha para conteúdo fraseado , que não representa nada por natureza
-->
<!--<img src="" alt="comida">
	src: link da imagem, alt: texto alternativo caso não encontre a fonte -->


<html lang="pt_br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#8257E5">

	<title>Proffy | Sua plataforma de estudos online</title>

	<link rel="shortcut icon" href="/images/favicon.png" type="image/png">

	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/partials/page-landing.css">

	<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

	<style></style>
	
</head>

<body id="page-landing">
	<div id="container">
		<div class="logo-container">
			<img src="/images/logo.svg" alt="Proffy">
			<h2>Sua plataforma de estudos online</h2>
		</div>

		<img class="hero-image" src="/images/landing.svg" alt="Plataforma de Estudos">

		<div class="buttons-container">
			<a class="study" href="/study">
				<img src="/images/icons/study.svg" alt="Estudar">
				Estudar
			</a>
			<a class="give-classes" href="/give-classes">
				<img src="/images/icons/give-classes.svg" alt="Dar aulas">
				Aulas
			</a>
		</div>
		<p class="total-connections">
			Total de 200 conexões já realizadas <img src="images/icons/purple-heart.svg" alt="Coração roxo">
		</p>
	</div>
	
</body>
</html>

<!--
	<body id="page-landing">
	<h1>Proffy <span>iiiiiii</span></h1>
	<!--Elementos de cabeçalho são implementados em seis níveis, <h1> é o mais importante e <h6> é o de menor importância.-->

<!--
	<p>
		<span>aqui: </span>
		Sua plataforma de estudos online</p>
	<!--representa um parágrafo. São usados para agrupar conteúdos relacionados de qualquer tipo-->
<!--	
	<img src="" alt="comida">
	<!--src: link da imagem, alt: texto alternativo caso não encontre a fonte -->
<!--
	<button>Estudar</button>
	<button>Dar aulas</button>
	
</body>
-->